$main-color: #263238;
$second-main-color: #8F95A5;
$third-color:   #546269;
$top-text-color: #000000;
$figure-color: #2A3246;

$bg-color-one: #EEEEEE;
$bg-color-two: #E5E5E5;
$bg-color-three: #F5F5F5;
$bg-color-four: #FFFFFF;

$border-color-one: #C4C4C4;
$border-color-two: #263238;

$btn-light-color: #FFFFFF;
$btn-dark-color: #000000;
$btn-bg-color: #263238;

$logo-color-one: #000000;
$logo-color-two: #939393; 

$line-height: 1.5;